<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="images/x-ico">
    <link href="/css/index.css" rel="stylesheet">
    <title th:text="${nickName}"></title>
    <style>
    </style>
</head>

<body>
    <!-- headを導入 -->
    <div th:insert="include :: header"></div>

    <!-- 底部信息区 -->
    <div class="message_content">
        <div class="mc_left">
            <div class="mcl_topvideo">
                <div class="mcltv_t">
                    <ul>
                        <li><input type="radio"><span>我的粉丝会看到</span></li>
                        <li><input type="radio"><span>新访客会看到</span></li>
                    </ul>
                </div>
                <div class="mcltv_b">
                    <div class="mcltv_bl">
                        <div class="tvbl_add"></div>
                        <div class="tvbl_text">设置置顶视频</div>
                    </div>
                    <div class="mcltv_br"></div>
                </div>
            </div>
            <!-- 我的视频 -->
            <div class="mcl_myvideo">
                <h3><a href="">我的视频</a></h3>
                <div class="mcl_zero">还没有上传过视频哦~~ &nbsp;&nbsp;<a href="">立即上传</a></div>
            </div>
            <!-- 我的专栏 -->
            <div class="mcl_myclumn">
                <h3><a href="">我的专栏</a></h3>
            </div>
            <!-- 我的频道 -->
            <div class="mcl_mychannel">
                <h3><a href="">我的频道</a></h3>
                <div class="empty-state">
                    <p>投稿视频可以分类展示了</p>
                    <div class="state-btn">
                        <a href=""><span>创建频道</span></a>
                    </div>
                </div>
            </div>
            <!-- 我的收藏 -->
            <div class="mcl_mycollection">
                <h3><a href="">我的收藏</a></h3>
            </div>
            <!-- 订阅番剧 -->
            <div class="mcl_fun">
                <h3><a href="">订阅番剧</a>
                    <span class="private-hint">
                        <span class="icon"></span>
                        <span>仅自己可见</span>
                    </span>
                </h3>
                <div class="mcl_zero">空间主人还没有订阅过番剧~~</div>
            </div>
            <!-- 订阅标签 -->
            <div class="mcl_label">
                <h3><a href="">订阅标签</a>
                    <span class="private-hint">
                        <span class="icon"></span>
                        <span>仅自己可见</span>
                    </span>
                </h3>
                <div class="mcl_zero">空间主人还没有订阅过标签~~</div>
            </div>
            <!-- 最近投币的视频 -->
            <div class="mcl_coin">
                <h3><a href="">最近投币的视频</a>
                    <span class="private-hint">
                        <span class="icon"></span>
                        <span>仅自己可见</span>
                    </span>
                </h3>
                <div class="mcl_zero">空间主人近一个月没有投过硬币~~</div>
            </div>
            <!-- 我的相薄 -->
            <div class="mcl_album">
                <h3><a href="">我的相薄</a></h3>
                <div class="mcl_zero">还没有上传相薄哦~~</div>
            </div>
        </div>
        <!-- 右侧信息区 -->
        <div class="mc_right">
            <div class="mcr_certification">
                <div class="mcrc_logo"><img src="img/icon-auth.png" alt=""></div>
                <div class="mcrc_text">
                    <a href="">点此申请 bilibili 认证</a>
                    <P>获得 bilibili 认证，享受多重认证福利！</P>
                </div>
            </div>
            <div class="mcr_creation">
                <div class="mcra_logo">
                    <img src="img/icon_createCenters.png" alt="">
                    <b><img src="img/rightpoint.png" alt=""></b>
                </div>
                <div class="mcra_btn">
                    <div class="mcra_bl">
                        <a href=""><b></b>视频投稿</a>
                    </div>
                    <div class="mcra_br">
                        <a href=""><b></b>内容管理</a>
                    </div>
                </div>
            </div>
            <div class="mcr_notice">
                <div class="mcrn_title">
                    <h3>公告</h3>
                </div>
                <div class="mcrn_content">
                    <textarea type="textarea" rows="4" placeholder="编辑我的空间公告" maxlength="150"></textarea>
                    <div class="content_limit">0/150</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/libs/jquery-1.12.4/jquery.min.js"></script>
<script>
    $(function () {
        if ("[[${token}]]".length != 0) {
            localStorage.setItem("token", "[[${token}]]");
        }
        if ("[[${userMobile}]]".length != 0) {
            localStorage.setItem("userMobile", "[[${userMobile}]]");
        }
        if ("[[${nickName}]]".length != 0) {
            localStorage.setItem("nickName", "[[${nickName}]]");
        }
       if($("#nickName").text()==0){
        $("#nickName").append(localStorage.getItem("nickName"));
       } 
        if (localStorage.getItem("token") == undefined || localStorage.getItem("userMobile") == undefined) {
            window.location.href = "login";
        } else {
            var headerObject = new Object();
            headerObject.token = localStorage.getItem("token");
            headerObject.userMobile = localStorage.getItem("userMobile");
            var headerInfo = JSON.stringify(headerObject);
            $.ajax({
                type: "POST",
                url: "/getUserInfo",
                beforeSend: function (request) {
                    request.setRequestHeader("header", headerInfo);
                },
                data: {
                    'userMobile': localStorage.getItem("userMobile"),
                },
                success: function (result) {
                    if (result.errorMsg != undefined) {
                        window.location.href = "login?errorMsg=" + result.errorMsg;
                    } else {
                        $("#fan").append(result.fan);
                        $("#follow").append(result.follow);
                        $("#star").append(result.star);
                        $("#level").append(result.level);
                        $("#signature").append(result.signature);
                        $(".profilephoto").attr("src", "profilephoto/"+result.profilePhoto);
                    }
                }
            });
        }
    })
</script>

</html>