<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.note.dao.UserInfoMapper">
  <resultMap id="UserInfoMap" type="com.cloud.note.entity.UserInfo">
    <id column="USER_MOBILE" jdbcType="VARCHAR" property="userMobile" />
    <result column="PROFILE_PHOTO" jdbcType="VARCHAR" property="profilePhoto" />
    <result column="SIGNATURE" jdbcType="VARCHAR" property="signature" />
    <result column="FOLLOW" jdbcType="VARCHAR" property="follow" />
    <result column="FAN" jdbcType="VARCHAR" property="fan" />
    <result column="STAR" jdbcType="VARCHAR" property="star" />
    <result column="USER_LEVEL" jdbcType="VARCHAR" property="level" />
    <result column="EXP" jdbcType="VARCHAR" property="exp" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

  <sql id="Column_List">
    USER_MOBILE,PROFILE_PHOTO,SIGNATURE,FOLLOW,FAN,STAR,USER_LEVEL,EXP,UPDATE_TIME
  </sql>

  <insert id="initUserInfo" parameterType="com.cloud.note.entity.UserInfo">
    INSERT INTO USER_INFO (
    <include refid="Column_List" />
    )
  VALUES (
    #{userMobile,jdbcType=VARCHAR}, 
    'init_profilephoto.png',
    '',
    '0',
    '0',
    '0',
    '0',
    '0',
    date_format(now(),'%Y%m%d%H%i%s'))
  </insert>

  <select id="getUserInfo" parameterType="java.lang.String" resultMap="UserInfoMap">
    SELECT
    <include refid="Column_List" />
    FROM USER_INFO WHERE USER_MOBILE = #{ userMobile, jdbcType = VARCHAR }
  </select>

  <update id="updateUserSignature" parameterType="com.cloud.note.entity.UserInfo" >
    UPDATE USER_INFO SET SIGNATURE=#{signature, jdbcType = VARCHAR } ,UPDATE_TIME=date_format(now(),'%Y%m%d%H%i%s')
     WHERE USER_MOBILE = #{userMobile, jdbcType = VARCHAR }
  </update>

  <update id="updateUserProfilePhoto" parameterType="com.cloud.note.entity.UserInfo" >
    UPDATE USER_INFO SET PROFILE_PHOTO=#{profilePhoto, jdbcType = VARCHAR } ,UPDATE_TIME=date_format(now(),'%Y%m%d%H%i%s')
     WHERE USER_MOBILE = #{userMobile, jdbcType = VARCHAR }
  </update>


</mapper>