<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.note.dao.UserMapper">
  <resultMap id="NoteUserMap" type="com.cloud.note.entity.User">
    <result column="USER_MOBILE" jdbcType="VARCHAR" property="userMobile" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="userPassword" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="LOCK_FLG" jdbcType="VARCHAR" property="lockedFlg" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="creatTime" />
    <result column="LOGIN_TIME" jdbcType="VARCHAR" property="loginTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="USER_LEVEL" jdbcType="VARCHAR" property="level" />
    <result column="EXP" jdbcType="VARCHAR" property="exp" />
  </resultMap>

  <sql id="Column_List">
    USER_MOBILE,
    PASSWORD,
    NICK_NAME,
    LOCK_FLG,
    CREATE_TIME,
    LOGIN_TIME,
    UPDATE_TIME,
    USER_LEVEL,
    EXP
  </sql>

  <select id="checkMobile" parameterType="java.lang.String" resultType="int">
   SELECT COUNT(*) FROM NOTE_USER WHERE USER_MOBILE = #{userMobile, jdbcType = VARCHAR}
</select>

  <insert id="insert" parameterType="com.cloud.note.entity.User">
  INSERT INTO NOTE_USER (
    USER_MOBILE,
    PASSWORD,
    NICK_NAME,
    CREATE_TIME,
    LOCK_FLG,
    USER_LEVEL,
    EXP)
  VALUES (
    #{userMobile,jdbcType=VARCHAR}, 
    #{userPassword,jdbcType=VARCHAR},
    #{nickName,jdbcType=VARCHAR},
    date_format(now(),'%Y%m%d%H%i%s'),
    '0',
    '1',
    '0')
</insert>

  <select id="login" parameterType="com.cloud.note.entity.User" resultMap="NoteUserMap">
    SELECT
    <include refid="Column_List" />
    FROM NOTE_USER WHERE USER_MOBILE = #{ userMobile, jdbcType = VARCHAR } AND PASSWORD = #{ userPassword, jdbcType = VARCHAR }
  </select>

  <update id="resetLock" parameterType="java.lang.String">
    UPDATE NOTE_USER SET LOCK_FLG='0',LOGIN_TIME=date_format(now(),'%Y%m%d%H%i%s') WHERE USER_MOBILE = #{userMobile, jdbcType = VARCHAR}
  </update>

  <update id="updateLock" parameterType="java.lang.String">
    UPDATE NOTE_USER SET LOCK_FLG=LOCK_FLG + 1 WHERE USER_MOBILE = #{userMobile, jdbcType = VARCHAR}
  </update>



</mapper>